<div class='steps-wrapper' *ngIf="steps">
    <ng-container *ngFor="let step of steps; index as i">
        <div  class="step">
            <img
                src="../../assets/icons/check_circle-black-18dp.svg"
                alt="completed"
                height="25"
                width="25" />

            <span class="label">{{ step }}</span>
        </div>
        <img
            *ngIf="i+1 !== steps.length"
            src="../../assets/icons/chevron_right-black-18dp.svg"
            alt="completed"
            height="25"
            width="25" />
    </ng-container>
</div>

