.steps-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: rgb(240,240,240);
    border-top: 1px solid rgb(200,200,200);

    .step {
        display: flex;
        align-items: center;
    }

}
