button {
    color: white;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    cursor: pointer;
    padding: 6px 12px;

    &.normal {
        background-color: #3c43b7;
        border-color: #3c43b7;
    }

    &.warning {
        background-color: #fb9e25;
        border-color: #fb9e25;
    }

    &.danger {
        background-color: #d0451b;
        border-color: #d0451b;
    }

    &.no-fill {
        background-color: #ffffff;
        color: rgb(130, 138, 153);
        border-color: rgb(130, 138, 153);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

// disabled
