div#background {
    background-color: rgba(0,0,0,0.3);
    // opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    div#content {
        height: 80vh;
        width: 70vw;
        min-height: 80vh;
        min-width: 70vw;
        background: white;
    }
}