<div id="background">
    <div id="content">
        <!-- 
            Probably, ng-content doesn't work well with angular elements
            use slot instead
            <ng-content></ng-content>
        -->
        <slot name="content">CONTENT</slot>
        <!-- <ng-content></ng-content> -->
        <button (click)="closeModal()">Close modal</button>
    </div>
</div>